@{
    User user = Context.Session.GetObject<User>("usuario");

}
@if (Context.User.Identity.IsAuthenticated)
{
    <br />
    <button class="btn btn-info" id="nuevaPersona">Nuevo Comentario</button>
    <br />
    <br />
}
